<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>JPG</string>
				<string>jpeg</string>
				<string>JPEG</string>
				<string>jpe</string>
				<string>JPE</string>
				<string>thm</string>
				<string>THM</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>jpeg.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jp2</string>
				<string>JP2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>jp2.icns</string>
			<key>CFBundleTypeName</key>
			<string>JPEG 2000 Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg-2000</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
				<string>PNG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>png.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Portable Network Graphics Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
				<string>GIF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gif.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Graphics Interchange Format Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIFf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psd</string>
				<string>PSD</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>psd.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BPS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.photoshop-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>TIFF</string>
				<string>tif</string>
				<string>TIF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tiff.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/tiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TIFF Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tiff</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>exr</string>
				<string>EXR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>exr.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/exr</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OpenEXR Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>exr </string>
				<string>EXR </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ilm.openexr-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pic</string>
				<string>PIC</string>
				<string>hdr</string>
				<string>HDR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pic.icns</string>
			<key>CFBundleTypeName</key>
			<string>Radiance Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.radiance</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dng</string>
				<string>DNG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>dng.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Raw Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DNG </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.raw-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>raw.icns</string>
			<key>CFBundleTypeName</key>
			<string>Leica Raw Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.leica.raw-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>raw</string>
				<string>RAW</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>raw.icns</string>
			<key>CFBundleTypeName</key>
			<string>Panasonic Raw Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.panasonic.raw-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dcr</string>
				<string>DCR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>raw.icns</string>
			<key>CFBundleTypeName</key>
			<string>Kodak Raw Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kodak.raw-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cr2</string>
				<string>CR2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>raw.icns</string>
			<key>CFBundleTypeName</key>
			<string>Canon CR2 Raw Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CR2 </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.canon.cr2-raw-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>crw</string>
				<string>CRW</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>raw.icns</string>
			<key>CFBundleTypeName</key>
			<string>Canon CRW Raw Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CRW </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.canon.crw-raw-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mrw</string>
				<string>MRW</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>raw.icns</string>
			<key>CFBundleTypeName</key>
			<string>Minolta Raw Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.konicaminolta.raw-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>raf</string>
				<string>RAF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>raw.icns</string>
			<key>CFBundleTypeName</key>
			<string>Fuji Raw Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.fuji.raw-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nef</string>
				<string>NEF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>raw.icns</string>
			<key>CFBundleTypeName</key>
			<string>Nikon Raw Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>NEF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.nikon.raw-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>orf</string>
				<string>ORF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>raw.icns</string>
			<key>CFBundleTypeName</key>
			<string>Olympus Raw Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.olympus.raw-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>srf</string>
				<string>SRF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>raw.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sony Raw Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sony.raw-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pict</string>
				<string>PICT</string>
				<string>pct</string>
				<string>PCT</string>
				<string>pic</string>
				<string>PIC</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pict.icns</string>
			<key>CFBundleTypeName</key>
			<string>Apple PICT Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.pict</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qtif</string>
				<string>QTIF</string>
				<string>qif</string>
				<string>QIF</string>
				<string>qtf</string>
				<string>QTF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>qtif.icns</string>
			<key>CFBundleTypeName</key>
			<string>Apple QuickTime Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>qtif</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.quicktime-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pntg</string>
				<string>PNTG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pntg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Apple MacPaint Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNTG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.macpaint-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>icns</string>
				<string>ICNS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icns.icns</string>
			<key>CFBundleTypeName</key>
			<string>Apple Icon Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.icns</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
				<string>BMP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bmp.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Bitmap Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMP </string>
				<string>BMPf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.bmp</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ico</string>
				<string>ICO</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ico.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Icon</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.ico</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tga</string>
				<string>TGA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tga.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/targa</string>
				<string>image/tga</string>
				<string>application/tga</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Targa Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TPIC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.truevision.tga-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pcx</string>
				<string>PCX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pcx.icns</string>
			<key>CFBundleTypeName</key>
			<string>Picture Exchange</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PCX </string>
				<string>PCXf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>cx.c3.pcx</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iff</string>
				<string>IFF</string>
				<string>ilbm</string>
				<string>ILBM</string>
				<string>lbm</string>
				<string>LBM</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ilbm.icns</string>
			<key>CFBundleTypeName</key>
			<string>IFF ILBM</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ea.iff-ilbm</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sgi</string>
				<string>SGI</string>
				<string>rgb</string>
				<string>RGB</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sgi.icns</string>
			<key>CFBundleTypeName</key>
			<string>Silicon Graphics Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.SGI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sgi.sgi-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fpx</string>
				<string>FPX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>fpx.icns</string>
			<key>CFBundleTypeName</key>
			<string>FlashPix Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kodak.flashpix-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xbm</string>
				<string>XBM</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xbm.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-xbitmap</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>X BitMap Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XBM </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.xbitmap-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xpm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>X PixMap Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pbm</string>
				<string>pgm</string>
				<string>ppm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PNM Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pvr</string>
				<string>pvm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Dreamcast PVR Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fax</string>
				<string>FAX</string>
				<string>jfx</string>
				<string>JFX</string>
				<string>jfax</string>
				<string>JFAX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>fax.icns</string>
			<key>CFBundleTypeName</key>
			<string>Fax Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.fax</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Archive File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbz</string>
				<string>CBZ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cbz.icns</string>
			<key>CFBundleTypeName</key>
			<string>Comic Book Zip Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>cx.c3.cbz-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbr</string>
				<string>CBR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cbr.icns</string>
			<key>CFBundleTypeName</key>
			<string>Comic Book Rar Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>cx.c3.cbr-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>archive.icns</string>
			<key>CFBundleTypeName</key>
			<string>Zip Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zip-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
				<string>ZIP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>archive.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/zip</string>
				<string>application/x-zip</string>
				<string>application/x-zip-compressed</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Zip Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ZIP </string>
				<string>ZIP_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rar</string>
				<string>RAR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>archive.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-rar</string>
				<string>application/x-rar-compressed</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RAR Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RARf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.rarlab.rar-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>7z</string>
				<string>7Z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>archive.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-7z-compressed</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>7-Zip Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.7-zip.7-zip-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lha</string>
				<string>lzh</string>
				<string>LHA</string>
				<string>LZH</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>archive.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-lzh-compressed</string>
				<string>application/lha</string>
				<string>application/x-lha</string>
				<string>application/lzh</string>
				<string>application/x-lzh</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LhA Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>cx.c3.lha-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sit</string>
				<string>SIT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>archive.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-stuffit</string>
				<string>application/x-sit</string>
				<string>application/stuffit</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>StuffIt Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SIT!</string>
				<string>SITD</string>
				<string>SIT5</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.allume.stuffit-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xeeicons</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Xee.icns</string>
			<key>CFBundleTypeName</key>
			<string>Xee Icon Set</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Any file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Xee</string>
	<key>CFBundleIconFile</key>
	<string>Xee</string>
	<key>CFBundleIdentifier</key>
	<string>cx.c3.xee</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>xee!</string>
	<key>CFBundleVersion</key>
	<string>2.2</string>
	<key>CFShortVersion</key>
	<string>2.2</string>
	<key>CSHiddenDocumentTypes</key>
	<array>
		<string>public.zip-archive</string>
		<string>com.pkware.zip-archive</string>
		<string>com.rarlab.rar-archive</string>
		<string>org.7-zip.7-zip-archive</string>
		<string>cx.c3.lha-archive</string>
		<string>com.allume.stuffit-archive</string>
	</array>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>XeeApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Picture Exchange</string>
			<key>UTTypeIdentifier</key>
			<string>cx.c3.pcx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pcx</string>
					<string>PCX</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>IFF ILBM</string>
			<key>UTTypeIdentifier</key>
			<string>com.ea.iff-ilbm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>iff</string>
					<string>IFF</string>
					<string>ilbm</string>
					<string>ILBM</string>
					<string>lbm</string>
					<string>LBM</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Radiance</string>
			<key>UTTypeIconFile</key>
			<string>pic.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.radiance</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hdr</string>
					<string>HDR</string>
					<string>pic</string>
					<string>PIC</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RAR Archive</string>
			<key>UTTypeIconFile</key>
			<string>archive.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.rarlab.rar-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rar</string>
					<string>RAR</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-rar</string>
					<string>application/x-rar-compressed</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.rarlab.rar-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Comic Book Rar Archive</string>
			<key>UTTypeIconFile</key>
			<string>cbr.icns</string>
			<key>UTTypeIdentifier</key>
			<string>cx.c3.cbr-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cbr</string>
					<string>CBR</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Comic Book Zip Archive</string>
			<key>UTTypeIconFile</key>
			<string>cbz.icns</string>
			<key>UTTypeIdentifier</key>
			<string>cx.c3.cbz-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cbz</string>
					<string>CBZ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LhA Archive</string>
			<key>UTTypeIconFile</key>
			<string>archive.icns</string>
			<key>UTTypeIdentifier</key>
			<string>cx.c3.lha-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lha</string>
					<string>lzh</string>
					<string>LHA</string>
					<string>LZH</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-lzh-compressed</string>
					<string>application/lha</string>
					<string>application/x-lha</string>
					<string>application/lzh</string>
					<string>application/x-lzh</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>7-Zip Archive</string>
			<key>UTTypeIconFile</key>
			<string>archive.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.7-zip.7-zip-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>7z</string>
					<string>7Z</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-7z-compressed</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
